<div class="row">
    <div class="col-2">{{index + 1}}</div>
    <div class="col-2">{{employee.name}}</div>
    <div class="col-2">{{employee.title}}</div>
    <div class="col-2">{{employee.age}}</div>
    <div class="col-2">{{employee.startDate | date}}</div>
    <div class="col-2">
        <p *ngIf="employee.endDate">
            {{employee.endDate | date}}
        </p>
        <p *ngIf="!employee.endDate" class="working">
            currently working
        </p>
    </div>
    <div class="col-2">
        <button (click)="editEmployee()">            
            <img src="../../assets/icons/details.png">
        </button>
        <button (click)="deleteEmployee()">
            <img src="../../assets/icons/delete.png">
        </button>
    </div>
</div>

<div *ngIf="edit">
    <app-employee-detail 
        (editDisabled)="hideEmployeeEdit()" 
        [employee]="employee" 
        [empIndex]="index"
        [mode]="'edit'"></app-employee-detail>
</div>

