.row{
    display: flex;
    margin: 20px 0;
}

.col-2{
    width: 16.50%;
    text-align: center;
    margin: auto;
}

.col-6{
    width: 50%;
    text-align: center;
    margin: auto;
}

.flex{
    display: flex;
}

.form-control{
    width: 80%;
}

.right{
    text-align: right !important;
}

button{
    max-width: 25%;
    margin: 0 10%;
}

img{
    max-width: 100%;
}